*{padding: 0; margin: 0; box-sizing: border-box;font-size: 14px;}
*::after{box-sizing: border-box;}
ul,li,ol { list-style: none;}
a{ text-decoration: none; color: inherit;}
input{outline: none;}

.banxin {
    max-width: 750px;
    margin: 0 auto;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: inherit;
}

body{
    background-color: #eee;
}
/* 搜索框开始了 */

.searchHeader .searchDiv form{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.searchHeader input {
    width: 75%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 7px;
}
.searchHeader button {
    padding: 0 15px;
    background-color: rgb(73, 121, 226);
    border: 1px solid #999;
    border-radius: 7px;
    color: #fff;
}
/* 列表开始 */
.mainList >.list {
    width: 90%;
    margin: 10px auto;
}
.mainList >.list ul{
    display: flex;
    flex-wrap: wrap;
}
.mainList >.list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}
.cancel {   
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px 3px;
    color: #999;
    font-size: 20px;
}
.cancel:hover{
    color: orangered;
}
.mainList .siteName{
    font-size: 50px;
    width: 70%;
    height: 70%;
    text-align: center;
}
.mainList .site {
    width: 90%;
    text-align: center;
    color: rgb(66, 65, 65);
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width: 750px){
    .searchHeader input {
        padding: 18px;
        border: 1px solid  rgb(73, 121, 226);
        border-radius: 17px;
    }
    .searchHeader button {
        font-size: 20px;
        padding: 0 20px;
        border-radius: 10px;
    }
    .banxin {
        padding-top: 20%;
        max-width: 750px;
        margin: 0 auto;
    }
    .mainList >.list li {
        width: 200px;
        height: 200px;
    }
    .mainList .siteName{
        padding-top: 20px;
        font-size: 80px;
    }
    .mainList .site {
        font-size: 20px;
        color: rgb(83, 82, 82);
    }
}